@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@font-face {
    font-family: "exwayer";
    src: local("exwayer"),
    url("../fonts/exwayer.ttf") format("truetype");
}

@font-face {
    font-family: "code";
    src: local("code"),
    url("../fonts/Code 7x5.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: local("Roboto Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}