.cyber {
    font-family: "exwayer", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 99px;
    /* identical to box height */

    text-align: center;

    background: linear-gradient(90deg, #EC3939 0%, #8E36C4 38.92%, #3FE2C5 76.32%, #55DC3F 112.95%, #FF2FEA 146.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.container {
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.screen {
    position: absolute;
    left: 28%;
    top: 28%;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    border-radius: 8px 8px 8px 4px;
    text-align: center;
    margin-top: 15px;
    padding: 30px;
}

.loupe__round {
    position: relative;
    width: 35px;
    height: 35px;
    background: #C5478B;
    border-radius: 30px;
    margin-left: auto;
}

.rectangle__1 {
    width: 502px;
    height: 40px;
    left: 600px;
    top: 492px;

    background: black;
    border: 1px solid rgba(255, 50, 148, 0.6);
    box-shadow: 0 4px 8px rgba(145, 145, 145, 0.25);
    border-radius: 30px;
    align-content: center;
    margin: 20px auto;
}

a.login__link {
    font-family: 'code', sans-serif;
    color: whitesmoke;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    padding: 20px;
}

.screen__content > p {
    font-family: 'code', sans-serif;
    color: #FF2FEA;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
}

#viewer {
    color: #ff0404;
}