@charset "UTF-8";
.body-table {
    border-radius: 8px 8px 8px 4px;
    max-width: 95%;
    display: flex; /*внимательней к флексу*/
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

#header {
    height: 60px;
    background-color: white;
    /*border-radius: 0 0 8px 4px;*/
    margin: 0 0 10px;
}

#games {
    background: white;
    border-radius: 8px 8px 8px 4px;
    padding: 1%;
    margin: 1.5%;
    width: 248px;
    height: 375px;
    box-shadow: 5px 10px 25px #040528;
    display: block;
    align-items: center;


}

.for_games_image {
    border-radius: 8px 8px 8px 4px;
}

.games_container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.games_container > * {
    margin-bottom: 7%;
    font-family: "Roboto Regular", sans-serif;
    background: linear-gradient(90deg, #EC3939 0%, #8E36C4 38.92%, #3FE2C5 76.32%, #55DC3F 112.95%, #FF2FEA 146.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.name_container {
    background-color: #302b63;
    border-radius: 8px 8px 8px 4px;
    min-height: 30px;
}

.d2 #search {
    border-radius: 3px;
}

.d2 input, .d2 button {
    border: none;
    outline: none;
    border-radius: 0 3px 3px 3px;
}

.d2 input {
    width: 100%;
    height: 42px;
    background: #ffffff;
    padding-left: 15px;
    margin: 15% 0 0;
}

.d2 input:hover {
    background: whitesmoke;
}

.d2 button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: -12px;
    right: 8px;
    background: #2f2a5f;
    cursor: pointer;
}

.d2 button:before {
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    color: #fdfdfe;
    font-size: 20px;
    font-weight: bold;
}

.d2 > form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#name_settings {
    font-size: 130%;
    font-weight: bold;
}

.for_filter button {
    width: 18px;
    height: 26px;
    background: white;
    border-radius: 3px 0 0 3px;
    position: relative;
    top: 10px;
    border-color: white;
    display: flex;
    align-items: center;
}

.for_filter button:before {
    content: "\f142";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 25px;
    font-weight: bold;
}

.for_filter button:hover {
    background: whitesmoke;
}

.search_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: Roboto Regular, sans-serif;
    line-height: normal;
    outline: none;
    /*исправление базовых настроек bootstrap*/
}

.px-3.py-2 {
    font-family: "Roboto Regular", sans-serif;
    padding-left: 1rem;
}

button.close {
    width: 15%;
    margin-right: 0;
    margin-top: 0;
}

.b-sidebar > .b-sidebar-header {
    margin-left: 1rem;
}

.body_for_filters p {
    display: flex;
    align-items: center;
    margin: 0;
    width: 270px;
}

/*вид фильтров для ввода форм*/
.body_for_filters p > input {
    width: 45%;
    height: 30px;
    margin-right: 0;
}

/*вид выдвижной панели*/
#my-sidebar {

}

.for_logout button {
    width: 18px;
    height: 26px;
    background: none;
    align-items: center;
    position: absolute;
    margin-top: 16.5px;
    margin-left: 90%;
}

.for_logout button:before {
    content: "\f08b";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 25px;
    font-weight: bold;
}

.for_logout button:hover {
    background: none;
}

.for_cart button {
    width: 18px;
    height: 26px;
    background: none;
    align-items: center;
    position: absolute;
    margin-top: 16.5px;
    margin-left: 69%;
}

.for_cart button:before {
    content: "\f291";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 20px;
    font-weight: bold;
}

.for_cart button:hover {
    background: none;
}

button.invisible_cart:before {
    color: gray;
    cursor: not-allowed;
}

.icons_container {
    position: absolute;
    width: 150px;
    margin-left: 80%;
}

.for_login button {
    width: 18px;
    height: 26px;
    background: none;
    align-items: center;
    position: absolute;
    margin-top: 16.5px;
    margin-left: 90%;
}

.for_login button:before {
    content: "\f090";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 25px;
    font-weight: bold;
}

.for_login button:hover {
    background: none;
}

.for_fav button {
    width: 18px;
    height: 26px;
    background: none;
    align-items: center;
    position: absolute;
    margin-top: 17px;
    margin-left: 50%;
}

.for_fav button:before {
    content: "\f02e";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 23px;
    font-weight: bold;
}

.for_fav button:hover {
    background: none;
}

button.invisible_fav:before {
    color: gray;
    cursor: not-allowed;
}

/*можно собрать все икнонки в семейство, чтобы не плодить стили - как в форуме*/
.for_forum button {
    width: 18px;
    height: 26px;
    background: none;
    align-items: center;
    position: absolute;
    margin-top: 16.5px;
    margin-left: 28%;
}

.for_forum button:before {
    content: "\f075";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 23px;
    font-weight: bold;
}

.for_forum button:hover {
    background: none;
}

button.invisible_forum:before {
    color: gray;
    cursor: not-allowed;
}

#text_form {
    width: 38px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#text_form_min {
    width: 65px;
    margin-right: 0;
    text-align: center;
}

#text_form_year {
    width: 65px;
    margin-left: 22%;
    margin-right: auto;
    text-align: center;
}

#text_form_age {
    width: 47px;
    text-align: center;
}
#add_to_cart button{
    margin-left: auto;
    margin-right: auto;
}

#add_to_cart button:before{
    content: "\f217";
    font-size: 27px;
}

#games {
    transition: 400ms;
}
#games:hover {
    transform: scale(1.07);
    cursor: move;
}