@charset "UTF-8";
.body-table {
    border-radius: 8px 8px 8px 4px;
    max-width: 95%;
    display: flex; /*внимательней к флексу*/
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

#header {
    height: 60px;
    background-color: white;
    /*border-radius: 0 0 8px 4px;*/
    margin: 0 0 10px;
}

#games {
    background: white;
    border-radius: 8px 8px 8px 4px;
    padding: 1%;
    margin: 1.5%;
    width: 248px;
    height: 375px;
    box-shadow: 5px 10px 25px #040528;
    display: block;
    align-items: center;


}

.for_games_image {
    border-radius: 8px 8px 8px 4px;
}

.games_container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.games_container > * {
    margin-bottom: 7%;
    font-family: "Roboto Regular", sans-serif;
    background: linear-gradient(90deg, #EC3939 0%, #8E36C4 38.92%, #3FE2C5 76.32%, #55DC3F 112.95%, #FF2FEA 146.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.name_container {
    background-color: #302b63;
    border-radius: 8px 8px 8px 4px;
    min-height: 30px;
}

.d2 input, .d2 button {
    border: none;
    outline: none;
    border-radius: 0 3px 3px 3px;
}

.d2 input {
    width: 100%;
    height: 42px;
    background: #ffffff;
    padding-left: 15px;
    margin: 15% 0 0;
}

.d2 input:hover {
    background: whitesmoke;
}

.d2 button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: -12px;
    right: 8px;
    background: #2f2a5f;
    cursor: pointer;
}

.d2 button:before {
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    color: #fdfdfe;
    font-size: 20px;
    font-weight: bold;
}

.d2 > form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#name_settings {
    font-size: 130%;
    font-weight: bold;
}

.for_filter button {
    width: 18px;
    height: 26px;
    background: white;
    border-radius: 3px 0 0 3px;
    position: relative;
    top:10px;
}

.for_filter button:before {
    content: "\f142";
    font-family: "FontAwesome", sans-serif;
    color: #2f2a5f;
    font-size: 25px;
    font-weight: bold;
}

.for_filter button:hover {
    background: whitesmoke;
}

.for_filter button:focus {
    background: #573b8a;
}

.search_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
