@charset "UTF-8";
.body-table {
    border-radius: 8px 8px 8px 4px;
    max-width: 95%;
    display:flex; /*внимательней к флексу*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

#header {
    height: 60px;
    background-color: white;
    /*border-radius: 0 0 8px 4px;*/
    margin: 0 0 10px;
}

#games {
    background: white;
    border-radius: 8px 8px 8px 4px;
    padding: 1%;
    margin: 1.5%;
    width: 248px;
    /*width: 300px;*/
    height: 400px;
    box-shadow: 5px 10px 25px #000141;
    display: flex; /*флекс*/
    justify-content: center;
    flex-direction: column;
    font-family: "Code 7x5", sans-serif;
    align-items: center;
}

.for_games_image {

}